/* styles.css или в компоненте, если стили импортированы */
@keyframes increaseBalance {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.coin-animation {
  display: inline-block;
  animation: increaseBalance 0.5s ease-out;
  color: #34d399;  /* Цвет для монет */
}

/* В styles.css или в соответствующем месте */
html, body {
  margin: 0;           /* Убираем отступы по умолчанию */
  padding: 0;          /* Убираем отступы по умолчанию */
  height: 100%;        /* Задаем высоту 100% */
  width: 100%;         /* Задаем ширину 100% */
  display: flex;       /* Используем flexbox для растягивания */
  flex-direction: column; /* Вертикальная ориентация */
}

#root {
  display: flex;
  flex-direction: column; /* Контент растягивается по вертикали */
  min-height: 100%;       /* Обеспечиваем минимальную высоту */
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Если нужно, чтобы элементы растягивались на весь экран */
  height: 100%;
}

/* Ваши другие стили */
