@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Это отключает прокрутку */
}
  
#root {
  display: flex;
  flex-direction: column;
  overflow: auto; /* Разрешает прокрутку только внутри #root */
}
  
  /* Ваши другие стили */
  /* Добавьте это в глобальные стили */
  html {
    scroll-behavior: smooth;
  }
  /* Стилизация вертикальной и горизонтальной полос прокрутки */
  ::-webkit-scrollbar {
    width: 8px; /* Ширина вертикальной полосы прокрутки */
    height: 8px; /* Высота горизонтальной полосы прокрутки */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4B5563; /* Цвет полосы прокрутки */
    border-radius: 10px; /* Скругление углов */
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #F59E0B; /* Цвет при наведении */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Фон полосы прокрутки */
    border-radius: 10px; /* Скругление фона полосы прокрутки */
  }
  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Увеличение */
    }
    100% {
      transform: scale(1); /* Возвращение к исходному размеру */
    }
  }
  
  .animate-scale {
    animation: scaleAnimation 3s ease-in-out infinite;
  }
  